// This file can be imported by .tsx files using:
// import 'styles/global.scss'

#authentication {
  background-size: cover;
  min-height: 900px;
  background-image: url("https://images.pexels.com/photos/8301240/pexels-photo-8301240.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
